/* firasans */
$fonts_dir: '../fonts/firasans';

/* bold */
@font-face {
    font-family: 'fira_sansbold';
    src: url('#{$fonts_dir}/bold/firasans-bold.eot');
    src: url('#{$fonts_dir}/bold/firasans-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts_dir}/bold/firasans-bold.svg#fira_sansbold') format('svg'),
    url('#{$fonts_dir}/bold/firasans-bold.woff2') format('woff2'),
    url('#{$fonts_dir}/bold/firasans-bold.woff') format('woff'),
    url('#{$fonts_dir}/bold/firasans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* light */
@font-face {
    font-family: 'fira_sanslight';
    src: url('#{$fonts_dir}/light/firasans-light.eot');
    src: url('#{$fonts_dir}/light/firasans-light.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts_dir}/light/firasans-light.svg#fira_sanslight') format('svg'),
    url('#{$fonts_dir}/light/firasans-light.woff2') format('woff2'),
    url('#{$fonts_dir}/light/firasans-light.woff') format('woff'),
    url('#{$fonts_dir}/light/firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* medium */
@font-face {
    font-family: 'fira_sansmedium';
    src: url('#{$fonts_dir}/medium/firasans-medium.eot');
    src: url('#{$fonts_dir}/medium/firasans-medium.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts_dir}/medium/firasans-medium.svg#fira_sansmedium') format('svg'),
    url('#{$fonts_dir}/medium/firasans-medium.woff2') format('woff2'),
    url('#{$fonts_dir}/medium/firasans-medium.woff') format('woff'),
    url('#{$fonts_dir}/medium/firasans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* regular */
@font-face {
    font-family: 'fira_sansregular';
    src: url('#{$fonts_dir}/regular/firasans-regular.eot');
    src: url('#{$fonts_dir}/regular/firasans-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts_dir}/regular/firasans-regular.svg#fira_sansregular') format('svg'),
    url('#{$fonts_dir}/regular/firasans-regular.woff2') format('woff2'),
    url('#{$fonts_dir}/regular/firasans-regular.woff') format('woff'),
    url('#{$fonts_dir}/regular/firasans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
