.container {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    @include paddingHorizontal;

    &__wrapper {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
    }
}
