extends ../jade/layout

block head
    - var pageDescription="Другофильтр";
    - var pageKeywords="Другофильтр";
    - var pageTitle="Другофильтр";

block content
    include ../blocks/container/container
