+b('section').filter
    +e('a').logo(href="/")
        +e('img')(src="images/logo.png")

    +e('div').container
        +e('div').header Выберите друзей
            +e('a').close(href="#", data-action="close")
                +e('img')(src="images/ico-close.svg")

        +e('div').wrapper
            +e('div').col(class="col_1")
                +e('div').search
                    +e('div').search__container
                        +e('label').search__label(for="search__input_1") Начните вводить имя друга
                        +e('input').search__input(class="search__input_1", id="search__input_1", value="", data-action="search")

                +e('div').title
                    +e('span') Ваши друзья

                +e('div').content

            +e('div').col(class="col_2")
                +e('div').search
                    +e('div').search__container
                        +e('label').search__label(for="search__input_2") Начните вводить имя друга
                        +e('input').search__input(class="search__input_2", id="search__input_2", value="", data-action="search")

                +e('div').title
                    +e('span') Друзья в списке

                +e('div').content
                    +e('ul').list
                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

        +e('div').footer
            +e('a').save(href="#", data-action="save") Сохранить

script(type="text/x-handlebars-template", id="listAllTemplate").
    <ul class="filter__list">
        {{#each list}}
        <li class="filter__item">
            <div class="filter__info">
                <div class="filter__preview">
                    <img src="{{photo_50}}">
                </div>

                <div class="filter__name">{{first_name}} {{last_name}}</div>

                <a href="#" data-action="add" class="filter__add">
                    <svg version="1.1" viewBox="0 0 42 42">
                        <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16v11.059C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z"></path>
                    </svg>
                </a>
            </div>
        </li>
        {{/each}}
    </ul>

script(type="text/x-handlebars-template", id="listCustomTemplate").
    <ul class="filter__list">
        {{#each list}}
        <li class="filter__item">
            <div class="filter__info">
                <div class="filter__preview">
                    <img src="{{photo_50}}">
                </div>

                <div class="filter__name">{{first_name}} {{last_name}}</div>

                <a href="#" data-action="remove" class="filter__remove">
                    <svg version="1.1" viewBox="0 0 45.334 45.334">
                        <path d="M43.576,35.092L31.152,22.668l12.424-12.424c2.343-2.343,2.343-6.142,0-8.485c-2.343-2.343-6.142-2.343-8.485,0L22.666,14.183L10.242,1.758c-2.344-2.343-6.143-2.343-8.485,0c-2.343,2.344-2.343,6.143,0,8.485l12.425,12.424L1.757,35.091c-2.343,2.344-2.343,6.143,0,8.485C2.93,44.748,4.464,45.333,6,45.333c1.535,0,3.071-0.586,4.243-1.757l12.423-12.423l12.425,12.424c1.173,1.171,2.707,1.757,4.243,1.757s3.071-0.586,4.243-1.757C45.919,41.234,45.919,37.436,43.576,35.092z"></path>
                    </svg>
                </a>
            </div>
        </li>
        {{/each}}
    </ul>
