+b('section').filter
    +e('a').logo(href="/")
        +e('img')(src="images/logo.png")

    +e('div').container
        +e('div').header Choose friends
            +e('a').close(href="#", data-action="close")
                +e('img')(src="images/ico-close.svg")

        +e('div').wrapper
            +e('div').col(class="col_1")
                +e('div').search
                    +e('div').search__container
                        +e('input').search__input(class="search__input_1", value="test string")

                +e('div').title
                    +e('span') Your friends

                +e('div').content
                    +e('ul').list
                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').add(href="#", data-action="add")
                                    +e('img')(src="images/ico-add.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').add(href="#", data-action="add")
                                    +e('img')(src="images/ico-add.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').add(href="#", data-action="add")
                                    +e('img')(src="images/ico-add.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').add(href="#", data-action="add")
                                    +e('img')(src="images/ico-add.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').add(href="#", data-action="add")
                                    +e('img')(src="images/ico-add.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').add(href="#", data-action="add")
                                    +e('img')(src="images/ico-add.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').add(href="#", data-action="add")
                                    +e('img')(src="images/ico-add.svg")


            +e('div').col(class="col_2")
                +e('div').search
                    +e('div').search__container
                        +e('input').search__input(class="search__input_2", value="test string")

                +e('div').title
                    +e('span') Friends in list

                +e('div').content
                    +e('ul').list
                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

                        +e('li').item
                            +e('div').info
                                +e('div').preview
                                    +e('img')(src="images/vis-photo-1.png")

                                +e('div').name Some very very very long name

                                +e('a').remove(href="#", data-action="remove")
                                    +e('img')(src="images/ico-remove.svg")

        +e('div').footer
            +e('a').save(href="#", data-action="save") Save

